= form_with(model: checklist, local: true) do |form|
  - if checklist.errors.any?
    #error_explanation
      %h2
        = pluralize(checklist.errors.count, "error") 
        prohibited this checklist from being saved:

      %ul
        - checklist.errors.full_messages.each do |message|
          %li= message

  .field
    = form.label :title
    = form.text_field :title, id: :checklist_title

  = form.fields_for :checklist_items do |checklist_item_fields|
    = checklist_item_fields.text_field :content

  .actions
    = form.submit
