<!DOCTYPE html>
<html>
  <head>
    <title>YACA - Yet Another Checklist App</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%-#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%-#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag "application" %>
    <%= javascript_pack_tag "hello_react" %>
    <%= stylesheet_pack_tag "yaca-app" %>
    <%= yield :javascript_packs %>
  </head>

  <body>
    <%= render 'layouts/flash' %>
    <%= render 'layouts/nav' %>

    <div class="container-fluid">
      <%= yield %>
    </div>
    <%= yield :javascripts %>
  </body>
</html>
