<!DOCTYPE html>
<html>
  <head>
    <title>Yaca</title>
    <%= csrf_meta_tags %>

    <%-#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%-#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag "application" %>
    <%= yield :javascript_packs %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    <%= yield :javascripts %>
  </body>
</html>
